body {
    background-image: radial-gradient(rgb(240, 240, 48), rgb(188, 117, 209));
    font-family: Courier New;
    text-align: justify;
  }

h1{
      text-align: center;
  }

nav {
    background-color: rgba(255, 255, 255, 0.295);
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    position: static;
    border-radius: 30px;
    font-weight: bolder;
 }

 img{
    float: left;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    border-radius: 50px;
    position: static;
}

footer{
    background-color: rgb(255, 255, 255, 0.295);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    position: static;
    border-radius: 30px;
}



